{% extends "layout.html" %}
{% block content %}
<div class="content-section">
<form method = 'POST', action="">
    {{form.csrf_token}}
    <fieldset class = 'form-group'>
        <div class = 'form-group'>
            {{form.mail.label(class="form-control-label")}}
            {% if form.mail.errors %}
                {{form.mail(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.mail.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{form.mail(class="form-control form-control-lg")}}
            {% endif %}
        </div>

        <div class = 'form-group'>
            {{form.submit(class="btn btn-outline-info")}}
        </div>
    </fieldset>
</form>
</div>
{% endblock %}